<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Middleman</title>
    <meta name="author" content="Tarun Sai" />
    <meta name="description" content="" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
      />
      <style>
        @import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
      #content::-webkit-scrollbar {
        width: 8px;
        background-color: var(--gray-200); 
      }
      #content::-webkit-scrollbar-thumb {
        background-color: #d870db; 
        border-radius: 6px;
      }
      .font-family-karla {
        font-family: karla;
      }
      .bg-sidebar {
        background: #d870db; /* Lavender blush pink */
      }
      .cta-btn {
        color: #e03997; /* Orchid pink */
      }
      .upgrade-btn {
        background: #ab47bc; /* Wisteria purple */
      }
      .upgrade-btn:hover {
        background: #8e44ad; /* Darker wisteria purple */
      }
      .active-nav-link {
        background: #9b59b6; /* Plum purple */
      }
      .nav-item:hover {
        background: #9b59b6; /* Plum purple */
      }
      .account-link:hover {
        background: #79388f; /* Deep orchid purple */
      }
    </style>
  </head>
  <body class="bg-gray-200 font-family-karla flex">
    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
      <div class="p-6">
        <a
          href="/middleman"
          class="text-white text-3xl font-semibold uppercase hover:text-gray-300"
          >Middleman</a
        >
      </div>
      <nav class="text-white text-base font-semibold pt-3">
        <a
          href="/middleman"
          class="flex items-center active-nav-link text-white py-4 pl-6 nav-item"
        >
          <i class="fas fa-tachometer-alt mr-3"></i>
          Dashboard
        </a>
      </nav>
    </aside>

    <div class="w-full flex flex-col h-screen overflow-hidden">
      <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2">
          <h1 class="text-xl font-bold text-gray-700">Exam Portal</h1>
        </div>
        <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
          <button
            @click="isOpen = !isOpen"
            class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-purple-400 hover:border-purple-300 focus:border-gray-300 focus:outline-none"
          >
            <img
              src="https://img.freepik.com/premium-vector/teenager-wearing-comfortable-stylish-clothes-isolated-man-with-shirt-fancy-hairstyle-portrait-guy-personage-avatar-social-media-photography-with-serious-face-vector-flat_87689-4741.jpg?w=740"
            />
          </button>
          <button
            x-show="isOpen"
            @click="isOpen = false"
            class="h-full w-full fixed inset-0 cursor-default"
          ></button>
          <div
            x-show="isOpen"
            class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16"
          >
            <a
              href="/middleman"
              class="block px-4 py-2 account-link hover:text-white"
              >Home</a
            >
            <a
              href="/logout"
              class="block px-4 py-2 account-link hover:text-white"
              >Sign Out</a
            >
          </div>
        </div>
      </header>

      <div class="flex flex-col h-full overflow-y-auto">
        <div id="content" class="border-t flex flex-col overflow-y-auto">
          <h2
            class="text-sky text-3xl ml-10 mt-10 m-4 font-semibold uppercase hover:text-sky-300"
          >
            Selected Papers
          </h2>
          <ul class="list-none p-0 m-8">
            <% selectedqps.forEach(item => { %>
            <li
              class="shadow-md rounded-lg overflow-hidden mb-4 bg-white dark:bg-gray-800"
            >
              <div class="p-4 border-b border-gray-200 dark:border-gray-700">
                <strong class="text-lg font-bold text-gray-900 dark:text-white"
                  >Subject:</strong
                >
                <span class="text-gray-700 dark:text-gray-200"
                  ><%= item.subject %></span
                >
              </div>
              <div class="p-4">
                <strong
                  class="text-base font-bold text-gray-900 dark:text-white"
                  >Selected Question paper:</strong
                >
                <span class="text-gray-700 dark:text-gray-200"
                  ><%= item.selectedQpArray.teacher %>(<%=
                  item.selectedQpArray.section %>)</span
                >
                <div class="mt-4">
                  <object
                    data="/questionpapers/<%= item.selectedQpArray.url %>"
                    type="application/pdf"
                    width="100%"
                    height="600px"
                  >
                    <p class="text-center text-gray-700 dark:text-gray-200">
                      It appears you don't have a PDF plugin for this browser.
                      No biggie... you can
                      <a
                        href="/questionpapers/<%= item.selectedQpArray.url %>"
                        download
                        class="text-blue-500 hover:text-blue-700"
                        >click here to download the PDF file.</a
                      >
                    </p>
                  </object>
                  <a
                    href="../questionpapers/<%= item.selectedQpArray.url %>"
                    download
                    class="text-blue-500 hover:text-blue-700 block mt-2"
                    >Download File</a
                  >
                </div>
              </div>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
      integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
