<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOD</title>
    <meta name="author" content="Tarun Sai" />
    <meta name="description" content="" />

    <!-- Tailwind -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
      .font-family-karla {
        font-family: karla;
      }
      .bg-sidebar {
        background: #ffd700; /* Gold color */
      }
      .cta-btn {
        color: #ffd700; /* Gold color */
      }
      .upgrade-btn {
        background: #ffd700; /* Gold color */
      }
      .upgrade-btn:hover {
        background: #ffcc00; /* Slightly lighter shade of gold */
      }
      .active-nav-link {
        background: #e3b600; /* Gold color */
      }
      .nav-item:hover {
        background: #e3b600; /* Slightly lighter shade of gold */
      }
      .account-link:hover {
        background: #ffd700; /* Gold color */
      }
      #content::-webkit-scrollbar {
        width: 8px;
        background-color: var(--gray-200); /* Light background for dark mode */
      }
      #content::-webkit-scrollbar-thumb {
        background-color: #e3b600; /* Purple thumb color */
        border-radius: 6px;
      }
      #content:hover::-webkit-scrollbar {
        background-color: var(
          --gray-300
        ); /* Slightly darker on hover (dark mode) */
      }
    </style>
  </head>
  <body class="bg-gray-200 font-family-karla flex">
    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
      <div class="p-6">
        <a
          href="/hod"
          class="text-black text-3xl font-semibold uppercase hover:text-white"
          >HOD</a
        >
      </div>
      <nav class="text-white text-base font-semibold pt-3">
        <a
          href="/hod"
          class="flex items-center opacity-75 hover:opacity-100 text-black hover:text-white py-4 pl-6 nav-item"
        >
          <i class="fas fa-tachometer-alt mr-3"></i>
          Dashboard
        </a>
        <a
          href="/viewmarks"
          class="flex items-center text-black hover:text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
        >
          <i class="fas fa-sticky-note mr-3"></i>
          viewmarks
        </a>
        <a
          href="/selectqp"
          class="flex items-center text-white active-nav-link py-4 pl-6 nav-item"
        >
          <i class="fas fa-align-left mr-3"></i>
          select Question paper
        </a>
      </nav>
    </aside>

    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <!-- Desktop Header -->
      <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2">
          <h1 class="text-xl font-bold text-gray-700">Exam Portal</h1>
        </div>
        <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
          <button
            @click="isOpen = !isOpen"
            class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-yellow-400 hover:border-yellow-300 focus:border-yellow-300 focus:outline-none"
          >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQavfQMBYKkiT6iVeBYUBIQVdbdDaRMhM_EhRvBFubN9w&s"
            />
          </button>
          <button
            x-show="isOpen"
            @click="isOpen = false"
            class="h-full w-full fixed inset-0 cursor-default"
          ></button>
          <div
            x-show="isOpen"
            class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16"
          >
            <a href="/hod" class="block px-4 py-2 account-link">Home</a>
            <a href="/logout" class="block px-4 py-2 account-link">Sign Out</a>
          </div>
        </div>
      </header>

      <div id="content" class="w-full overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
          <div
            id="content"
            class="w-full overflow-x-hidden border-t flex flex-col"
          >
            <main class="w-full flex-grow p-6">
              <h1 class="text-3xl text-black pb-6">
                Select Main Question Papers
              </h1>
              <div class="flex flex-col gap-4">
                <% for (const subject of quepapers) { %>
                <div class="bg-white shadow-md rounded-lg p-4">
                  <h3 class="text-lg font-semibold text-gray-700 mb-2">
                    <%= subject.subject %>
                  </h3>
                  <form action="/selectqp" method="post">
                    <% for (const qp of subject.qpArray) { %>
                    <div class="flex items-center mb-2">
                      <input type="radio" id="qp-<%= qp.teacher %>" name="<%=
                      subject.subject %>" value="<%= qp.section %>" class="mr-2
                      focus:ring-offset-2 focus:ring-indigo-500 focus:ring-2" <%
                      if (subject.selected !== "no") { %> disabled <% } %> <% if
                      (subject.selected === qp.section) { %> checked <% } %> />
                      <label for="qp-<%= qp.teacher %>">
                        <%= qp.teacher %> (<%= qp.section %>)
                      </label>
                    </div>
                    <% } %> <input class="bg-yellow-400 hover:bg-yellow-500
                    text-white font-bold py-2 px-2 rounded-lg" type="submit"
                    value="submit" <% if (subject.selected !== "no") { %>
                    disabled <% } %>>
                  </form>
                </div>
                <% } %>
              </div>
            </main>
          </div>
        </main>
      </div>
    </div>

    <!-- AlpineJS -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <!-- Font Awesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
      integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
