<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOD</title>
    <meta name="author" content="Tarun Sai" />
    <meta name="description" content="" />

    <!-- Tailwind -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
      .font-family-karla {
        font-family: karla;
      }
      .bg-sidebar {
        background: #ffd700; /* Gold color */
      }
      .cta-btn {
        color: #ffd700; /* Gold color */
      }
      .upgrade-btn {
        background: #ffd700; /* Gold color */
      }
      .upgrade-btn:hover {
        background: #ffcc00; /* Slightly lighter shade of gold */
      }
      .active-nav-link {
        background: #e3b600; /* Gold color */
      }
      .nav-item:hover {
        background: #e3b600; /* Slightly lighter shade of gold */
      }
      .account-link:hover {
        background: #ffd700; /* Gold color */
      }
      #content::-webkit-scrollbar {
        width: 8px;
        background-color: var(--gray-200); /* Light background for dark mode */
      }
      #content::-webkit-scrollbar-thumb {
        background-color: #e3b600; /* Purple thumb color */
        border-radius: 6px;
      }
      #content:hover::-webkit-scrollbar {
        background-color: var(
          --gray-300
        ); /* Slightly darker on hover (dark mode) */
      }
    </style>
  </head>
  <body class="bg-gray-200 font-family-karla flex">
    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
      <div class="p-6">
        <a
          href="/hod"
          class="text-black text-3xl font-semibold uppercase hover:text-white"
          >HOD</a
        >
      </div>
      <nav class="text-white text-base font-semibold pt-3">
        <a
          href="/hod"
          class="flex items-center opacity-75 hover:opacity-100 text-black hover:text-white py-4 pl-6 nav-item"
        >
          <i class="fas fa-tachometer-alt mr-3"></i>
          Dashboard
        </a>
        <a
          href="/viewmarks"
          class="flex items-center active-nav-link text-white py-4 pl-6 nav-item"
        >
          <i class="fas fa-sticky-note mr-3"></i>
          viewmarks
        </a>
        <a
          href="/selectqp"
          class="flex items-center text-black hover:text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item"
        >
          <i class="fas fa-align-left mr-3"></i>
          select Question paper
        </a>
      </nav>
    </aside>

    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <!-- Desktop Header -->
      <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2">
          <h1 class="text-xl font-bold text-gray-700">Exam Portal</h1>
        </div>
        <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
          <button
            @click="isOpen = !isOpen"
            class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-yellow-400 hover:border-yellow-300 focus:border-yellow-300 focus:outline-none"
          >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQavfQMBYKkiT6iVeBYUBIQVdbdDaRMhM_EhRvBFubN9w&s"
            />
          </button>
          <button
            x-show="isOpen"
            @click="isOpen = false"
            class="h-full w-full fixed inset-0 cursor-default"
          ></button>
          <div
            x-show="isOpen"
            class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16"
          >
            <a href="/hod" class="block px-4 py-2 account-link hover:text-white"
              >Home</a
            >
            <a
              href="/logout"
              class="block px-4 py-2 account-link hover:text-white"
              >Sign Out</a
            >
          </div>
        </div>
      </header>

      <div id="content" class="w-full overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
          <div class="w-full mt-2">
            <p class="text-xl pb-3 flex items-center">
              <i class="fas fa-list mr-3"></i> View Marks
            </p>
            <div class="bg-white overflow-auto">
              <table class="w-fit bg-white">
                <thead class="bg-gray-800 text-white">
                  <tr>
                    <th
                      class="sticky bg-gray-800 left-0 w-fit text-left py-3 px-4 uppercase font-semibold text-sm border-2 border-gray-700"
                    >
                      AdmissionNumber
                    </th>
                    <% for (const subject of Object.keys(students[0].marks)) {
                    %>
                    <th
                      class="w-12 text-left py-3 px-4 uppercase font-semibold text-sm border-2 border-gray-700"
                    >
                      <%= subject %> Marks
                    </th>
                    <% } %>
                  </tr>
                </thead>
                <tbody class="text-gray-700">
                  <% students.forEach((student) => { %>
                  <tr class="bg-white border-b">
                    <td
                      class="sticky bg-white left-0 text-left py-3 px-4 border-2"
                    >
                      <%= student.rollno %>
                    </td>
                    <% for (const subject of Object.keys(student.marks)) { %>
                    <td class="w-fit text-left py-3 px-4 border-2">
                      <input
                        type="number"
                        class="px-2 py-1 rounded-md shadow-sm border-1 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        id="<%= student.rollno %>_<%= subject %>"
                        value="<%= student.marks[subject] %>"
                        disabled
                      />
                    </td>
                    <% } %>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- AlpineJS -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <!-- Font Awesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
      integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
      crossorigin="anonymous"
    ></script>
    <!-- ChartJS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
